.btn{
	.font-header;
	.transition(0.2s);
	.border-radius(20px);
	margin: 0;
	padding: 0 20px;
	border : 0;
	height: 40px;
	line-height: 40px;
	font-size: 16px;
	font-weight: bold;
	display: inline-block;
	text-decoration: none;
	white-space: nowrap;
	overflow: visible;
	text-transform: uppercase;
	color: #fff;
	outline: none;
	text-align: center;
	background: @color-link;
}
.btn:hover,.btn-hover{
	color: @color-link;
	background: @color-lightblue;
}