@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,900,400italic,600italic,700italic,900italic&subset=latin,latin-ext);
@import url(http://fonts.googleapis.com/css?family=Titillium+Web:400,300,300italic,400italic,600,600italic,700,700italic&subset=latin,latin-ext);
@import url('../fontello/css/bds-icons.css');
.font-primary{
	font-family: 'Source Sans Pro', sans-serif;
}
.font-header{
	font-family: 'Titillium Web', sans-serif;
}
.font-icon{
	font-family: 'bds-icons';
}
