.container{
	.clearfix;
	position: relative;
	width: 940px;
	padding: 0 10px;
	margin: auto;
	text-align: left;
}
#page-header{
	position: absolute;
	z-index: 999;
	top: 0;
	left: 0;
	width: 100%;
	height: 98px;
	min-width: 960px;
	background: url(../images/bg/01.png) no-repeat top;
	.logo{
		float: left;
		padding: 30px 0 0 45px;
		a{
			display: block;
			width: 265px;
			height: 38px;
			text-indent: -9999px;
			background: url(../images/logo/01.png);
		}
	}
}
#wrapper{
	padding: 93px 0 25px;
	background: #fff;
}
#col-main{
	width: 670px;
	float: right;
}
#col-left{
	width: 220px;
	float: left;
}
#col-center{
	width: 400px;
	float: left;
}
#col-right{
	width: 220px;
	float: right;
}
#content{
	padding: 0 0 0 20px;
}
#page-footer{
	position: relative;
	padding: 50px 0 0;
	background: @color-lightblue;
	&:before{
		position: absolute;
		content: '';
		top: 18px;
		left: 0;
		height: 6px;
		width: 100%;
		background: #fff;
	}
	.copyright{
		.clearfix;
		padding: 4px 0;
		clear: both;
		color: #7d7d7d;
		font-size: 13px;
		background: #e4eaf0;
		a{
			color: #7d7d7d;
		}
	}
	.copy{
		width: 460px;
		float: left;
	}
	.xart{
		padding: 23px 0;
		width: 460px;
		float: right;
		text-align: right;
		font-size: 11px;
		text-transform: uppercase;
		line-height: 1;
		img{
			float: right;
			margin: -4px -4px 0 8px;
		}
		a{
			text-decoration: none;
		}
	}
}
#gotop{
	a{
		.transition(0.2s);
		position: fixed;
		bottom: -60px;
		right: 20px;
		height: 48px;
		width: 48px;
		text-indent: -9999px;
		line-height: 48px;
		text-align: center;
		background: @color-link;
		color: #fff;
		text-decoration: none;
		-webkit-opacity: 0.8;
		-moz-opacity: 0.8;
		opacity: 0.8;
		filter:alpha(opacity=80);
		&:before{
			.font-icon;
			position: absolute;
			top:0;
			left: 0;
			width: 100%;
			text-indent: 0;
			content: '\e803';
			font-size: 28px;
		}
		&:hover{
			-webkit-opacity: 1;
			-moz-opacity: 1;
			opacity: 1;
			filter:alpha(opacity=100);
		}
	}
	&.on{
		a{
			bottom: 22px;
		}
	}
}