.mod_menu-main{
	width: 380px;
	float: left;
	padding: 30px 0 0 55px;
	ul{
		.reset-ul;
		.clearfix;
		li{
			.reset-li;
			.font-header;
			text-transform: uppercase;
			float: left;
			font-size: 14px;
			line-height: 1;
			letter-spacing: 0.13em;
			white-space: nowrap;
			margin: 0 0 0 32px;
			a{
				color: #fff;
			}
			&.act{
				font-weight: bold;
				a{
					text-decoration: none;
				}
			}
		}
	}
}
.mod_jflanguageselection{
	width: 120px;
	float: right;
	padding: 30px 0 0;
	ul{
		.reset-li;
		.clearfix;
		float: right;
		padding: 0 26px 0 0;
		li{
			.reset-li;
			.font-header;
			font-size: 14px;
			line-height: 1;
			text-transform: uppercase;
			float: left;
			margin: 0 0 0 22px;
			a{
				color: @color-lightblue;
			}
			&.act{
				font-weight: bold;
				a{
					text-decoration: none;
				}
			}
		}
	}
}
.mod_search{
	float: right;
	padding: 24px 0 10px;
	.toggle{
		.transition(0.2s);
		position: relative;
		display: block;
		width: 54px;
		text-indent: -9999px;
		border-left: 1px solid rgba(255,255,255,0.5);
		color: #8cc3ff;
		&:hover{
			color: #fff;
		}
		&:before{
			.font-icon;
			position: absolute;
			left: 23px;
			top: 1px;
			content: '\e800';
			text-indent: 0;
			font-size: 24px;
			line-height: 1;
		}
	}
	form{
		position: absolute;
		bottom: 100%;
		right: 0;
		white-space: nowrap;
		input[type=text]{
			.transition(0.4s);
			.reset-input;
			.border-radius(20px 0 0 20px);
			float: left;
			background: #fff;
			margin: 0 -20px 0 0;
			width: 0;
			height: 18px;
			padding: 11px 30px 11px 20px;
		}
		button{
			.btn;
			&:hover{
				.btn-hover;
			}
		}
	}
	&.on{
		form{
			top: 100%;
			input[type=text]{
				width: 170px;
			}
		}
	}
}
.mod_custom-header{
	position: relative;
	padding: 258px 0 86px;
	background: #091a5b url(../images/bg/08.png) repeat-x center;
	&:before{
		position: absolute;
		content: '';
		z-index: 998;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		background: url(../images/bg/07.png) no-repeat center;
	}
	.slider{
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		overflow: hidden;
		.items{
			position: absolute;
			height: 800px;
			width: 1350px;
			top: 50%;
			left: 50%;
			margin-left: -675px;
			margin-top: -400px;
		}
	}
	.icons{
		position: relative;
		z-index: 998;
		margin: 300px 0 0;
		height: 121px;
		padding: 27px 0 0;
		border-top: 1px solid rgba(255,255,255,0.3);
		border-bottom: 1px solid rgba(0,0,0,0.3);
		background: url(../images/bg/03.png) top;
		ul{
			.reset-ul;
			.clearfix;
			margin: 0 -10px;
			li{
				.reset-li;
				float: left;
				text-align: center;
				width: 240px;
				a{
					display: block;
					position: relative;
					&:before,&:after{
						.transition(0.2s);
						position: absolute;
						content: '';
						left: 47px;
						top: 12px;
						width: 10px;
						height: 69px;
						background: url(../images/bg/06.png) no-repeat;
					}
					&:after{
						left: auto;
						right: 47px;
						background-position: -10px 0;
					}
					&:hover{
						&:before{
							left: 30px;
						}
						&:after{
							right: 30px;
						}
					}
				}
			}
		}
	}
}
.mod_custom-banners{
	position: relative;
	z-index: 998;
	background: @color-lightblue;
	.row{
		margin: 0 -10px;
	}
	.item{
		position: relative;
		float: left;
		width: 220px;
		padding: 6px 5px 0;
		margin: -66px 5px 0 5px;
		background: url(../images/bg/02.png) no-repeat;
		.logo{
			text-align: center;
			border-top: 4px solid @color-link;
			a{
				display: block;
				padding: 15px 0 0;
				height: 66px;
			}
		}
		ul{
			.reset-ul;
			padding: 23px 22px 22px;
			min-height: 80px;
			li{
				.reset-li;
				padding: 0 0 0 11px;
				margin: 0 0 5px;
				line-height: 1;
				&:before{
					content: '\e802';
					top: 3px;
					color: @color-link;
				}
			}
		}
		nav{
			position: absolute;
			bottom: -24px;
			left: 50%;
			a{
				.transition(0.2s);
				.border-radius(24px);
				.box-shadow(1px 0 0 #fff);
				position: relative;
				display: block;
				text-decoration: none;
				text-indent: -9999px;
				left: -24px;
				height: 48px;
				width: 48px;
				text-shadow: 1px 1px 0 #fff;
				text-indent: -9999px;
				background: @color-lightblue;
				&:hover{
					text-shadow: none;
					color: #fff;
					background: @color-link;
				}
				&:before{
					.font-icon;
					content: '\e805';
					position: absolute;
					left: 0;
					text-indent: 0;
					width: 100%;
					text-align: center;
					font-size: 14px;
					line-height: 54px;
				}
			}
		}
		&.highlight{
			.logo{
				border-color: @color-red;
			}
			nav{
				a{
					color: @color-red;
					&:hover{
						background: @color-red;
						color: #fff;
					}
				}
			}
		}
		&.act{
			min-height: 155px;
			margin-bottom: -70px;
			background-position: right top;
			.logo{
				border-top-width: 9px;
				a{
					padding-top: 9px;
				}
			}
		}
	}
}
.mod_custom-intro{
	line-height: 1.46;
	.mod-title{
		.font-header;
		font-size: 20px;
		line-height: 1;
		text-transform: uppercase;
		color: @color-blue;
		margin: 0 0 22px;
		font-weight: 600;
	}
	h1{
		font-size: 26px;
		line-height: 1.2;
		margin: 0 0 22px;
		color: @color-link;
		font-weight: normal;
		small{
			font-size: 20px;
			color: @color-blue;
			font-weight: 300;
		}
	}
	nav{
		padding: 30px 0 0;
		ul{
			.reset-ul;
			.clearfix;
			li{
				.reset-li;
				float: left;
				width: 200px;
				a{
					.font-header;
					text-transform: uppercase;
					font-size: 14px;
					line-height: 1.2;
					position: relative;
					display: block;
					padding: 0 0 0 56px;
					.icon{
						.transition(0.2s);
						.border-radius(24px);
						position: absolute;
						top: -9px;
						left: -4px;
						width: 48px;
						height: 48px;
						line-height: 48px;
						text-align: center;
						font-size: 17px;
						background: @color-lightblue;
					}
					&:hover{
						.icon{
							color: #fff;
							background: @color-link;
						}
					}
				}
				&.arr{
					float: right;
					width: 170px;
					a{
						&:before{
							position: absolute;
							content: '';
							right: -6px;
							bottom: 0;
							width: 11px;
							height: 31px;
							background: url(../images/bg/04.png) no-repeat;
						}
					}
				}
			}
		}
	}
}
.mod_custom-kontakt{
	margin: 0 0 30px;
	.mod-title{
		.font-header;
		font-size: 20px;
		line-height: 1;
		color: @color-blue;
		text-transform: uppercase;
		margin: 0 0 25px;
		font-weight: 600;
	}
	address{
		font-style: normal;
		line-height: 1.3;
		strong{
			font-weight: 600;
			color: @color-blue;
		}
		.address{
			position: relative;
			padding: 10px 0 0 42px;
			margin: 0 0 29px;
			&:before{
				.font-icon;
				position: absolute;
				content: '\e808';
				left: 2px;
				top: 50%;
				font-size: 30px;
				line-height: 1;
				margin-top: -16px;
				color: @color-link;
			}
			small{
				font-size: 13px;
			}
		}
	}
	.mod-in{
		position: relative;
		padding: 24px 0 14px;
		border-top: 1px solid @color-link;
		font-size: 18px;
		color: @color-green;
		&:before,&:after{
			position: absolute;
			content: '';
			top: 0;
			left: 50%;
			margin-left: -20px;
			border: 20px solid transparent;
			border-bottom: 0;
			border-top: 10px solid @color-link;
		}
		&:after{
			top: -1px;
			border-top-color: #fff;
		}
		a{
			color: @color-green;
		}
		.title{
			.font-header;
			font-size: 20px;
			line-height: 1;
			font-weight: 600;
			margin: 0 0 14px;
		}
		.email,.phone,.mobile{
			position: relative;
			padding: 0 0 0 38px;
			margin: 0 0 4px;
			&:before{
				.font-icon;
				position: absolute;
				content: '\e809';
				top: 0;
				left: 0;
				font-size: 30px;
				line-height: 1;
				width: 32px;
				height: 32px;
				line-height: 32px;
				text-align: center;
			}
			.flag{
				position: absolute;
				left: 100%;
				top: 5px;
				margin-left: -7px;
				white-space: nowrap;
			}
		}
		.phone{
			&:before{
				top: 4px;
				content: '\e80a';
			}
		}
		.mobile{
			&:before{
				top: 2px;
				font-size: 32px;
				content: '\e80b';
			}
		}
		mark{
			font-size: 24px;
			background: none;
			color: @color-green;
			font-weight: 900;
		}
	}
	.map{
		text-align: center;
		a{
			.transition(0.2s);
			display: inline-block;
			position: relative;
			text-decoration: none;
			&:before{
				.font-icon;
				position: absolute;
				content: '\e80c';
				top: 33px;
				left: -5px;
				font-size: 30px;
				line-height: 1;
				text-shadow: 1px 1px 0 #fff;
			}
			&:hover{
				color: @color-green;
			}
		}
	}
}
.mod_custom-prodej{
	padding: 0 0 104px;
	background: url(../images/bg/05.jpg) no-repeat bottom;
	.mod-title{
		.font-header;
		font-size: 20px;
		line-height: 1;
		color: @color-blue;
		text-transform: uppercase;
		margin: 0 0 64px;
		font-weight: 600;
		text-align: center;
	}
	ul{
		.reset-ul;
		position: relative;
		padding: 0 0 14px;
		border-left: 1px solid @color-link;
		border-right: 1px solid @color-link;
		&:before,&:after{
			position: absolute;
			content: '';
			left: 0;
			top: 0;
			bottom: 0;
			width: 16px;
			border-top: 1px solid @color-link;
			border-bottom: 1px solid @color-link;
		}
		&:after{
			left: auto;
			right: 0;
		}
		li{
			.reset-li;
			.font-header;
			position: relative;
			top: -40px;
			text-align: center;
			font-size: 17px;
			line-height: 1;
			text-transform: uppercase;
			margin: 0 0 20px;
			&:before{
				position: absolute;
				content: '';
				left: 50%;
				top: -10px;
				height: 12px;
				border-left: 1px solid @color-link;
			}
			img{
				display: block;
				margin: 0 auto 8px;
			}
			a{
				color: @color-blue;
			}
		}
	}
}
.mod_custom-certifikaty{
	width: 460px;
	float: left;
	padding: 0 0 22px;
	ul{
		.reset-ul;
		.clearfix;
		li{
			.reset-li;
			float: left;
			margin: 0 7px 0 0;
			span{
				position: relative;
				top: 3px;
				display: block;
				width: 150px;
				padding: 7px 0 3px 30px;
				margin: 0 0 0 17px;
				font-size: 14px;
				line-height: 1.2;
				color: #7d7d7d;
				&:before{
					position: absolute;
					content: '';
					top: 0;
					left: 0;
					bottom: 0;
					width: 8px;
					border: 1px solid #cbced1;
					border-left: 0;
				}
				&:after{
					position: absolute;
					content: '';
					top: 50%;
					left: 9px;
					bottom: 0;
					width: 6px;
					border-top: 1px solid #cbced1;
				}
			}
		}
	}
}
.mod_menu-footer{
	.clearfix;
	width: 460px;
	float: right;
	padding: 18px 0  20px;
	ul{
		.reset-ul;
		.clearfix;
		float: right;
		li{
			.reset-li;
			float: left;
			text-transform: uppercase;
			font-size: 14px;
			line-height: 1;
			letter-spacing: 0.1em;
			white-space: nowrap;
			margin: 0 0 0 32px;
			a{
				color: #7d7d7d;
			}
			&.act{
				font-weight: bold;
				a{
					text-decoration: none;
				}
			}
		}
	}
}
.mod_menu-sidebar{
	background: @color-lightblue;
	margin: 0 0 30px;
	padding: 20px;
	ul{
		padding: 0;
		margin: 0;
		li{
			a{
				color: @color-primary;
			}
			&:before{
				text-shadow: 1px 1px 0 #fff;
			}
			&.act{
				&>a{
					font-weight: bold;
				}
			}
		}
		ul{
			font-size: 13px;
			padding: 10px 0;
			li{
				padding-left: 10px;
				&:before{
					.font-primary;
					content: '\2022';
					top: -1px;
				}
			}
		}
	}
}